@use "../abstracts" as *;

.header-container {
  background: url("../assets/images/background-header.png") no-repeat center
    center / cover;
  position: relative;
  height: 768px;

  @include tablet-lager {
    height: 650px;
  }

  @include tablet {
    .navbar {
      display: none;
    }
    height: 410px;
  }
}
