@use "../abstracts" as *;

.section2-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .section2-header {
    color: $text-sub-color;
    &__tittle {
      text-align: center;
      font-size: 44px;
      line-height: 48px;
      margin-bottom: 22px;
      margin-top: 69px;
      @include tablet {
        font-size: 32px;
        margin-bottom: 0px;
      }
    }
    &__description {
      font-size: 16px;
      line-height: 24px;
      @include tablet {
        font-size: 11px;
        line-height: 16px;
      }
    }
  }
  .section2-main {
    margin-top: 43px;
    display: flex;
    @include mobile {
      flex-direction: column;
    }
    gap: 128px;
    @include desktop {
      gap: 85px;
    }
    @include tablet {
      gap: 79.27px;
    }
    margin-bottom: 111px;
  }
}
