@use "../abstracts" as *;
.section6-container {
  height: 802px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  height: 100vh;
  .carousel {
    display: flex;
  }
  .section6__title {
    text-align: center;
    font-size: 44px;
    line-height: 40px;
    @include tablet-lager {
      font-size: 38px;
      letter-spacing: -0.025em;
    }
    @include tablet {
      font-size: 32px;
    }
    @include mobile {
      font-size: 20px;
    }
  }
  .section6-dotnav {
    display: flex;
    gap: 16px;
    .section6-dotnav_nav-mobile {
      display: none;
    }
    @include mobile {
      .section6-dotnav_nav-mobile {
        display: block;
      }
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    top: 470px;
    left: 50%;
    transform: translateX(-50%);
    @include tablet {
      top: 400px;
    }
    .slick-active {
      button {
        background: url(../assets/icons/dot-active-icon.svg) no-repeat;
      }
    }
    button {
      background: url(../assets/icons/dot-icon.svg) no-repeat;
      border: none;
      margin: 16px;
      width: 16px;
      text-indent: -9999px;
    }
  }

  .section6-main {
    display: flex;
    max-width: 1125px;
    margin-bottom: 70px;
    @include desktop {
      max-width: 1125px;
    }
    @include tablet-lager {
      max-width: 820px;
    }
    @include tablet {
      max-width: 650px;
      height: 320px;
    }
    @include mobile {
      max-width: 240px;
    }
    .slick-list {
      height: 467px;
    }
  }
  .slick-arrow {
    display: none !important;
  }
}
