.section7-container {
  height: 680px;
  background: #f6f6f6;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  .section7__title {
    text-align: center;
    font-size: 44px;
    line-height: 48px;
  }
  .section7-main {
    display: flex;
    justify-content: space-around;
    margin: 0px 50px 64px 50px;
    flex-wrap: wrap;
  }
}
