@use "../abstracts" as *;
.container {
  max-width: 1240px;
  margin: 0 auto;
}
.section1 {
  overflow: hidden;
  height: 100vh;
  background: url("../assets/images/background-header.png") no-repeat center
    center / cover;
  position: relative;
  @include tablet {
    display: flex;
    align-items: center;
  }
  .section1-container {
    margin-top: 85px;
    position: absolute;
    bottom: 0;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
    gap: 40px;
    justify-content: space-around;
    align-items: center;
    @include tablet {
    }
    @include mobile {
      margin-top: 0px;
      position: static;
      transform: translateX(0);
      .device {
        display: none;
      }
    }
    .information {
      margin-left: 100px;
      width: 450px;
      display: flex;
      flex-direction: column;
      color: $background-color;
      .information-main {
        display: block;
      }

      .phone-moblie {
        display: none;
      }

      @include mobile {
        .phone-moblie {
          display: block;
          margin-bottom: 16px;
        }
        margin-bottom: 27px;
      }

      @include desktop {
        width: 350px;
        margin-left: 70px;
      }

      @include tablet-lager {
        width: 300px;
        margin-left: 60px;
      }

      @include tablet {
        width: 283.64px;
        margin-top: 80px;
        margin-left: 50px;
      }

      @include mobile {
        width: 225px;
        margin-left: 0px;
      }

      &-header {
        margin-bottom: 151px;
        font-size: 18px;
        @include desktop {
          font-size: 15px;
          margin-bottom: 120px;
        }
        @include tablet-lager {
          font-size: 13px;
          margin-bottom: 100px;
        }

        @include tablet {
          font-size: 12px;
          margin-bottom: 59px;
        }

        @include mobile {
          margin-bottom: 15px;
        }
      }

      &-main__title {
        margin-bottom: 30px;
        margin-left: 23px;
        font-size: 64px;
        color: $primary-color;
        @include desktop {
          font-size: 50px;
          margin-left: 18px;
          margin-bottom: 20px;
        }
        @include tablet-lager {
          font-size: 40px;
          margin-left: 16px;
          margin-bottom: 20px;
        }

        @include tablet {
          font-size: 36px;
          margin-bottom: 11px;
        }

        @include mobile {
          font-size: 32px;
          margin-bottom: 12px;
          margin-left: 5px;
        }
      }

      &-main__description-lager {
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 36px;
        @include desktop {
          font-size: 19px;
          line-height: 28px;
        }
        @include tablet-lager {
          font-size: 17px;
          line-height: 25px;
        }
        @include tablet {
          font-size: 12.0181px;
          line-height: 16px;
        }

        @include mobile {
          font-size: 12px;
          line-height: 16px;
        }
      }

      &-main__description {
        margin-bottom: 75px;
        font-size: 16px;
        @include desktop {
          font-size: 14px;
        }
        @include tablet-lager {
          font-size: 13px;
        }
        @include tablet {
          font-size: 11px;
          margin-bottom: 38px;
        }
        @include mobile {
          margin-bottom: 16px;
        }
      }

      .app-store {
        display: flex;
        @include mobile {
          justify-content: center;
        }
        &__google {
          margin-left: 30px;
          @include mobile {
            margin-left: 7.5px;
          }
        }
        @include tablet {
          .app-store-figure {
            width: 71.91px;
            height: 21.29px;
            &__img {
              width: 71.91px;
              height: 21.29px;
            }
          }
        }
      }
    }
    .device {
      margin-right: 100px;
      width: 358px;
      margin-top: 20px;
      @include desktop {
        margin-right: 50px;
      }
      @include tablet-lager {
        margin-right: 30px;
        .iphone-app {
          width: 280px;
          &__img {
            width: 280px;
          }
        }
      }
      @include tablet {
        margin-right: 0px;
        width: 290px;
      }

      @include tablet {
        .iphone-app {
          width: 220px;
          height: 337px;
          &__img {
            width: 220px;
            height: 337px;
          }
        }
        margin-top: 80px;
      }
    }
  }
}
