@use "../abstracts" as *;

.review-block-container {
  width: 262px;
  margin-right: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include desktop {
    width: 230px;
  }
  @include tablet-lager {
    width: 180px;
  }
  @include tablet {
    width: 140px;
  }
  @include mobile {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .review-block-header {
    margin-bottom: 25px;
    position: relative;
    @include mobile {
      margin-bottom: 16px;
    }
    &__figure {
      width: 270px;
      height: 270px;
      border: 4px solid #e6e6e6;
      border-radius: 50%;
      @include tablet-lager {
        width: 180px;
        height: 180px;
        img {
          width: 172px;
          height: 172px;
        }
      }
      @include tablet {
        width: 160px;
        height: 160px;
        img {
          width: 152px;
          height: 152px;
        }
      }

      @include mobile {
        width: 120px;
        height: 120px;
        img {
          width: 112px;
          height: 112px;
        }
      }
    }

    &-view {
      position: absolute;
      top: 45%;
      left: 45%;
      display: none;
      @include tablet-lager {
        top: 45%;
        left: 42%;
      }
      @include tablet {
        top: 43%;
        left: 40%;
      }
      &-center {
        width: 40px;
        height: 22px;
        img {
          width: 40px;
          height: 22px;
        }
        @include tablet-lager {
          width: 30px;
          height: 25px;
          img {
            width: 30px;
            height: 25px;
          }
        }

        @include tablet {
          width: 28px;
          height: 23px;
          img {
            width: 28px;
            height: 23px;
          }
        }
      }
      .review-block-header-quantity-view {
        margin-top: 70%;
        display: flex;
        font-size: 16px;
        line-height: 24px;
        color: $background-color;
        @include tablet-lager {
          margin-top: 20px;
        }
        @include tablet {
          font-size: 11px;
          margin-top: 17px;
        }
        @include mobile {
          font-size: 9px;
          margin-top: 8px;
        }
        &__view-icon {
          margin-right: 5px;
        }
      }
    }
  }
  .review-block-main {
    &__title {
      font-size: 18px;
      line-height: 30px;
      @include tablet-lager {
        font-size: 15px;
        line-height: 27px;
      }
      @include tablet {
        font-size: 12px;
        line-height: 24px;
      }
    }
    &__by {
      font-size: 16px;
      line-height: 24px;
      @include tablet-lager {
        font-size: 13px;
        line-height: 27px;
      }
      @include tablet {
        font-size: 11px;
        line-height: 16px;
      }
    }
    &__subtitle {
      font-size: 16px;
      line-height: 24px;
      height: 48px;
      @include tablet-lager {
        font-size: 13px;
        line-height: 20px;
        height: 40px;
      }

      @include tablet {
        font-size: 11px;
        line-height: 16px;
        height: 30px;
      }
      @include mobile {
        height: 32px;
      }
    }
  }
  .review-block-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    border: 2px solid $text-sub-color;
    border-radius: 50px;
    margin-top: 20px;
    @include tablet-lager {
      width: 150px;
    }
    @include tablet {
      width: 120px;
      font-size: 11px;
      line-height: 13px;
    }
    @include mobile {
      margin-top: 15px;
    }
  }
  &:hover {
    cursor: pointer;
    .review-block-footer {
      border: none;
      background: $primary-color;
    }
    .review-block-header__figure {
      border: 4px solid $primary-color;
    }
    .review-block-header-view {
      display: block;
    }
  }
}
