<nav class="navbar">
  <div class="navbar__logo">H.</div>
  <div class="navbar-right">
    <div class="navbar-right-categories">
      <include
        src="./components/nav-list.html"
        locals='{
            "classList":"navbar-right-categories-list",
            "classLink":"navbar-right-categories__item",
            "list":"[`Prices`,`Booking`,`Blog`,`Services`]"
          }'
      >
      </include>
    </div>
    <div class="navbar-right__action">
      <figure class="navbar-right__action--search">
        <img src="../assets/icons/search icon.svg" alt="search" />
      </figure>
      <select class="dropdown-language">
        <option class="dropdown-language__option" value="US">US</option>
        <option class="dropdown-language__option" value="VN">VN</option>
      </select>
    </div>
  </div>
</nav>
