<section
  class="percentage-block-container"
  data-aos-duration="1000"
  data-aos="flip-right"
>
  <div class="percentage">
    <figure class="percentage-figure">
      <img class="percentage-figure__img" src="{{image}}" alt="" />
    </figure>
    <div class="value">
      <span class="value__int">{{valueInt}}</span>
      <span class="value__decimal">{{valueDecimal}}</span>
    </div>
  </div>
  <div class="description">
    <p class="description__title">{{descriptionTitle}}</p>
    <p class="description__content">{{descriptionContent}}</p>
  </div>
</section>
