<section class="review-block-container">
  <header class="review-block-header">
    <figure class="review-block-header__figure">
        <img src="{{image}}" alt="">
    </figure>
    <div class="review-block-header-view">
      <figure class="review-block-header-view-center">
        <img src="../assets/icons/Views-icon.svg" alt="">
      </figure>
      <div class="review-block-header-quantity-view">
        <figure class="review-block-header-quantity-view__view-icon">
          <img src="../assets/icons/Views-icon.svg" alt="">
        </figure>
        <div class="review-block-header-quantity-view__quantity">{{quantity}}</div>
      </div>
    </div>
  </header>
  <main class="review-block-main"> 
      <p class="review-block-main__title">{{title}}</p>
      <p class="review-block-main__by">by</p>
      <p class="review-block-main__subtitle">{{subtitle}}</p>
  </main>
  <footer class="review-block-footer">
      <div class="review-block-footer__content">
        REVIEW
      </div>
  </footer>
</section>