<section class="review-block-container">
  <header class="header">
    <figure class="header__figure">
      <img src="{{image}}" alt="" />
    </figure>
    <div class="header-view">
      <figure class="header-view__img">
        <img src="../assets/icons/Views-icon.svg" alt="" />
      </figure>
      <div class="header-quantity-view">
        <figure class="header-quantity-view__view-icon">
          <img src="../assets/icons/Views-icon.svg" alt="" />
        </figure>
        <p>{{quantity}}</p>
      </div>
    </div>
  </header>
  <div class="main">
    <p class="main__title">{{title}}</p>
    <p class="main__by">by</p>
    <p class="main__subtitle">{{subtitle}}</p>
  </div>
  <button class="btn">REVIEW</button>
</section>
