<section class="section8-container scroll s-eight" data-section-name="s-eight">
  <div class="container">
    <div class="section8__title">Get in Touch</div>
    <div class="section8-main">
      <form class="section8-form" action="#">
        <input
          class="section8-form__input"
          type="text"
          id="name"
          name="name"
          placeholder="Name*"
        />
        <input
          class="section8-form__input"
          type="text"
          id="email"
          name="email"
          placeholder="Email*"
        />
        <input
          class="section8-form__input section8-form__input-message"
          type="text"
          id="message"
          name="message"
          placeholder="Message"
        />
        <label class="section8-form-checkbox">
          <input
            class="section8-form__input-checkbox"
            type="checkbox"
            id="question"
            name="question"
            value="question"
          />
          <svg
            class="img-checkbox"
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0 4C0 1.79086 1.79086 0 4 0H14C16.2091 0 18 1.79086 18 4V14C18 16.2091 16.2091 18 14 18H4C1.79086 18 0 16.2091 0 14V4Z"
              fill="#EBCB80"
            />
            <path
              d="M5 8L8 12L13 6"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <label for="question">Most Urgebt Question</label>
        </label>
        <input
          class="section8-form__input section8-form-input__btn-submit"
          type="submit"
          value="SUBMIT"
        />
      </form>
    </div>
    <div class="section8-contact">
      <div class="contact-item">
        <figure class="contact-item__img">
          <img src="../assets/icons/location-icon.svg" alt="" />
        </figure>
        <p>2300 W Arbutus Dr Citrus Springs, FL 34434, USA</p>
      </div>
      <div class="contact-item">
        <figure class="contact-item__img contact-item__img-mail">
          <img src="../assets/icons/mail-icon.svg" alt="" />
        </figure>
        <p>contact@hofmannui.net</p>
      </div>
      <div class="contact-item">
        <figure class="contact-item__img">
          <img src="../assets/icons/phone-icon.svg" alt="" />
        </figure>
        <p>952-775-6021</p>
      </div>
    </div>
  </div>
</section>
