<section class="section3-container scroll s-three" data-section-name="s-three">
  <div class="container" data-aos-duration="1000" data-aos="zoom-in">
    <header class="section3-header">
      <p>What Clients are saying</p>
    </header>
    <div
      id="section3-main__image--prev"
      class="section3-main__image section3-main__image--prev"
    >
      <img src="../assets/icons/Prev.svg" alt="" />
    </div>
    <div class="carousel">
      <div>
        <div class="section3-main">
          <p class="section3-main__text">
            Businesses at present had creatively generated effective advertising
            campaigns in the form of audio visual media that includes the
            television and radios and the print media that cover the newspaper
            and campaign materials like the posters, brochures, business cards,
            flyers and many more.
          </p>
        </div>
        <footer class="section3-footer">
          <figure class="image">
            <img src="../assets/images/person.svg" alt="" />
          </figure>
          <div class="description">
            <p class="description__info">Ophelia Holland</p>
            <p class="description__info-id">@ophelia_holland</p>
          </div>
        </footer>
      </div>
      <div>
        <div class="section3-main">
          <p class="section3-main__text">
            khang is a present had creatively generated effective advertising
            campaigns in the form of audio visual media that includes the
            television and radios and the print media that cover the newspaper
            and campaign materials like the posters, brochures, business cards,
            flyers and many more.
          </p>
        </div>
        <footer class="section3-footer">
          <figure class="image">
            <img src="../assets/images/person.svg" alt="" />
          </figure>
          <div class="description">
            <p class="description__info">khang_tran12345</p>
            <p class="description__info-id">@khang_tran12345</p>
          </div>
        </footer>
      </div>
    </div>
    <figure
      class="section3-main__image section3-main__image--next"
      id="section3-main__image--next"
    >
      <img src="../assets/icons/Next.svg" alt="" />
    </figure>
  </div>
</section>
