@use "../abstracts" as *;

@font-face {
  font-family: Roboto;
  src: url(/src/assets/fonts/Roboto/Roboto-Regular.ttf);
}

body {
  font-weight: 400;
  color: $text-color;
  font-family: $primary-font;
}
