$primary-font: Roboto;

$text-color: #4b4b4b;
$primary-color: #ebcb80;
$background-color: #ffffff;
$text-sub-color: #4b4b4b;
$border-color: #7d7d7d;

$minium: 280px + 1px;
$smaller: 370px + 1px;
$small: 700px + 1px;
$medium: 780px + 1px;
$lager: 1024px + 1px;
$extra-lager: 1288px;
