<section class="section2-container container">
  <header class="section2-header">
    <p class="section2-header__tittle">Stunning Results</p>
    <p class="section2-header__description">
      Just look to the statistics we have generate the past year.
    </p>
  </header>
  <div class="section2-main">
    <include
      src="./components/percentage-block.html"
      locals='{
        "image":"../assets/images/circle-total-conversion.svg",
        "valueInt":"74",
        "valueDecimal":",98",
        "descriptionTitle":"TOTAL CONVERSION",
        "descriptionContent":"The past few years have seen a dramatic change in the public perception of cosmetic surgery."
      }'
    >
    </include>
    <include
      src="./components/percentage-block.html"
      locals='{
        "image":"../assets/images/circle-free-downloads.svg",
        "valueInt":"39",
        "valueDecimal":",75",
        "descriptionTitle":"FREE DOWNOADS",
        "descriptionContent":"Can you imagine what we will be downloading in another twenty years?"
      }'
    >
    </include>
    <include
      src="./components/percentage-block.html"
      locals='{
      "image":"../assets/images/circle-unique-visitors.svg",
      "valueInt":"81",
      "valueDecimal":",15",
      "descriptionTitle":"UNIQUE VISITORS",
      "descriptionContent":"WordPress, the premier free open-source blogging utility, has gone through several upgrades in its life."
    }'
    >
    </include>
  </div>
</section>
