<section class="section7-container">
  <div class="section7__title">Subscribing Plans</div>
  <div class="section7-main">
    <include
      src="./components/card.html"
      locals='{
          "image":"../assets/images/card-header-freemium.svg",
          "name":"FREEMIUM",
          "price":"0",
          "list":"[`Basic Collections`,`10 Messages`,`50 Images per Day`]"
        }'
    >
    </include>
    <include
      src="./components/card.html"
      locals='{
          "image":"../assets/images/card-header-startup.svg",
          "name":"START UP",
          "price":"9",
          "list":"[`Multiple Collections`,`100 Messages`,`100 Images per Day`]"
        }'
    >
    </include>
    <include
      src="./components/card.html"
      locals='{
          "image":"../assets/images/card-header-business.svg",
          "name":"BUSINESS",
          "price":"29",
          "list":"[`Unlimited Collections`,`500 Messages`,`300 Images per Day`,`Project Reviews`]"
        }'
    >
    </include>
    <include
      src="./components/card.html"
      locals='{
          "image":"../assets/images/card-header-enterprise.svg",
          "name":"ENTERPRISE",
          "price":"49",
          "list":"[`Unlimited Collections`,`Unlimited Messages`,`Unlimited Images per Day`,`Project Reviews`]"
        }'
    >
    </include>
  </div>
</section>
