<section class="section3-container">
  <header class="section3-header">
    <p>What Clients are saying</p>
  </header>
  <div class="section3-main">
    <figure class="section3-main__image">
      <img src="../assets/icons/Prev.svg" alt="" />
    </figure>
    <p class="section3-main__text">
      Businesses at present had creatively generated effective advertising
      campaigns in the form of audio visual media that includes the television
      and radios and the print media that cover the newspaper and campaign
      materials like the posters, brochures, business cards, flyers and many
      more.
    </p>
    <figure class="section3-main__image">
      <img src="../assets/icons/Next.svg" alt="" />
    </figure>
  </div>
  <footer class="section3-footer">
    <figure class="image">
      <img src="../assets/images/person.svg" alt="" />
    </figure>
    <div class="description">
      <p class="description__info">Ophelia Holland</p>
      <p class="description__info-id">@ophelia_holland</p>
    </div>
  </footer>
</section>
