<section class="section4-container container">
  <header class="section4-header">
    <p class="section4-header__title">Recent Products</p>
    <p class="section4-header__subtitle">
      Having used discount toner cartridges for twenty years, there have been a
      lot of changes in the toner cartridge market. The market today is
      approximately a twenty billion dollar business.
    </p>
  </header>
  <div class="section4-main">
    <include
      src="./components/review-block.html"
      locals='{
        "image":"../assets/images/thumb-app-maintenance.svg",
        "title":"APP MAINTENANCE",
        "subtitle":"Lida Morrison, Nettie Burke",
        "quantity":"91312"
        }'
    >
    </include>
    <include
      src="./components/review-block.html"
      locals='{
        "image":"../assets/images/thumb-fta.svg",
        "title":"FTA KEYS",
        "subtitle":"Ivan Alexander, Steven Soto, Clifford Hammond",
        "quantity":"91312"
        }'
    >
    </include>
    <include
      src="./components/review-block.html"
      locals='{
        "image":"../assets/images/thumb-smart-watch.svg",
        "title":"SMART WATCH",
        "subtitle":"Trevor James, Carl Stevenson",
        "quantity":"91312"
        }'
    >
    </include>
    <include
      src="./components/review-block.html"
      locals='{
        "image":"../assets/images/thumb-watch-apps.svg",
        "title":"WATCH APPS",
        "subtitle":"Glen Snyder, Andrew Goodwin, Lida Morrison ",
        "quantity":"91312"
        }'
    >
    </include>
  </div>
</section>
