<section class="section1">
  <div class="container">
    <include src="./layout/header.html"></include>
    <div class="section1-container">
      <div class="information">
        <div class="information-header">
          <p data-aos="fade-left">RESPONSIVE UI KIT</p>
        </div>
        <div class="information-main">
          <p
            class="information-main__title"
            data-aos-duration="1000"
            data-aos="fade-left"
          >
            HOFMANN
          </p>
          <p
            class="information-main__description-lager"
            data-aos-duration="1000"
            data-aos="fade-left"
          >
            We’re Bring It To The New Level
          </p>
          <p
            class="information-main__description"
            data-aos-duration="1000"
            data-aos="fade-left"
          >
            Every new computer that’s brought home from the store has an
            operating system installed onto it. But what most new computer users
            don’t realize, is that without an operating system, that computer
            would be a simple shell of possibilities.
          </p>
        </div>
        <div class="phone-moblie">
          <figure>
            <img src="../assets/images/phone-mobile.png" alt="" />
          </figure>
        </div>
        <div class="app-store">
          <figure class="app-store-figure">
            <img
              class="app-store-figure__img"
              src="../assets/images/appstore-badge.svg"
              alt=""
            />
          </figure>
          <figure class="app-store-figure app-store__google">
            <img
              class="app-store-figure__img"
              src="../assets/images/google-play-badge.svg"
              alt=""
            />
          </figure>
        </div>
      </div>
      <div class="device" data-aos-duration="1000" data-aos="fade-right">
        <figure class="iphone-app">
          <img
            class="iphone-app__img"
            src="../assets/images/iPhoneApp.svg"
            alt=""
          />
        </figure>
      </div>
    </div>
  </div>
</section>
