<section
  class="section6-container container scroll s-six"
  data-section-name="s-six"
>
  <div class="section6__title" data-aos-duration="700" data-aos="fade-down">
    What People Say
  </div>
  <div class="section6-main">
    <include
      src="./components/testimonial.html"
      locals='{
          "image":"../assets/images/person-seneca.svg",
          "name":"Seneca the Younger",
          "quote":"It is not because things are difficult that we do not dare; it is because we do not dare that they are difficult.",
          "info":"Editor in okodesign.net",
          "class":"testimonial-section-active"
        }'
    >
    </include>
    <include
      src="./components/testimonial.html"
      locals='{
          "image":"../assets/images/person-rachel.svg",
          "name":"Rachel Moreno",
          "quote":"Attending a trade show can be a very effective method of promoting your company and its products.",
          "info":"Lead Designer in okodesign.net",
          "class":""
        }'
    >
    </include>
    <include
      src="./components/testimonial.html"
      locals='{
          "image":"../assets/images/person-seneca.svg",
          "name":"Seneca the Younger",
          "quote":"It is not because things are difficult that we do not dare; it is because we do not dare that they are difficult.",
          "info":"Editor in okodesign.net",
          "class":"testimonial-section-active"
        }'
    >
    </include>
    <include
      src="./components/testimonial.html"
      locals='{
          "image":"../assets/images/person-rachel.svg",
          "name":"Rachel Moreno",
          "quote":"Attending a trade show can be a very effective method of promoting your company and its products.",
          "info":"Lead Designer in okodesign.net",
          "class":""
        }'
    >
    </include>
    <include
      src="./components/testimonial.html"
      locals='{
          "image":"../assets/images/person-seneca.svg",
          "name":"Seneca the Younger",
          "quote":"It is not because things are difficult that we do not dare; it is because we do not dare that they are difficult.",
          "info":"Editor in okodesign.net",
          "class":"testimonial-section-active"
        }'
    >
    </include>
    <include
      src="./components/testimonial.html"
      locals='{
          "image":"../assets/images/person-rachel.svg",
          "name":"Rachel Moreno",
          "quote":"Attending a trade show can be a very effective method of promoting your company and its products.",
          "info":"Lead Designer in okodesign.net",
          "class":""
        }'
    >
    </include>
  </div>
</section>
